# version: '3.8'

services:
  # Tên dịch vụ của bạn (có thể đổi)
  db_postgres:
    # Sử dụng image PostgreSQL
    image: postgres:latest
    
    # Thiết lập biến môi trường
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: Admin@123
      POSTGRES_DB: test
      TZ: Asia/Ho_Chi_Minh
      PGTZ: Asia/Ho_Chi_Minh 
      
    # Ánh xạ cổng (Host:Container)
    # Cổng 5432 trên máy Windows của bạn sẽ kết nối tới 5432 trong container
    ports:
      - "5432:5432"
      
    # Thiết lập Volume (để dữ liệu không bị mất khi container bị xóa)
    # Khuyến nghị mount tại /var/lib/postgresql từ 18+ trở lên
    # Lợi ích: PostgreSQL sẽ tự tạo /var/lib/postgresql/18/docker bên trong volume, và dữ liệu sẽ persist đúng cách.
    # sẽ phù hợp với các docker 19+ sau này
    volumes:
      - postgres_data:/var/lib/postgresql
      
    # Khởi động lại container nếu nó dừng đột ngột
    restart: always

# Định nghĩa Volume
volumes:
  postgres_data: