services:
  sqlserver-db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver-dev
    hostname: sqlserver-host
    
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "Root@123"
      MSSQL_PID: "Developer"
      MSSQL_COLLATION: "SQL_Latin1_General_CP1_CI_AS"
      MSSQL_LCID: 1033
      MSSQL_MEMORY_LIMIT_MB: 2048
    
    ports:
      - "1433:1433"
      
    volumes:
      - sqlserver_data:/var/opt/mssql
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql:ro
      - ./entrypoint.sh:/usr/local/bin/entrypoint.sh:ro
    
    # QUAN TRỌNG: Không dùng user: mssql khi chạy custom entrypoint
    # user: mssql
    
    # Kích hoạt custom entrypoint script
    command: /bin/bash /usr/local/bin/entrypoint.sh
    
    restart: always
    
    networks:
      - sqlserver-network

volumes:
  sqlserver_data:
    driver: local

networks:
  sqlserver-network:
    driver: bridge