# version: '3.8'

services:
  # Tên dịch vụ
  mysql-db:
    # Sử dụng image MySQL chính thức
    image: mysql:8.0
    
    # Đặt biến môi trường
    environment:
      # BẮT BUỘC: Đặt mật khẩu root
      MYSQL_ROOT_PASSWORD: Cng3500888@
      # Tùy chọn: Tên database sẽ được tạo tự động
      MYSQL_DATABASE: test
      # Tùy chọn: Tên người dùng sẽ được tạo tự động
      MYSQL_USER: cuongdq
      # Tùy chọn: Mật khẩu cho người dùng trên
      MYSQL_PASSWORD: Cng3500888@
      
    # Ánh xạ cổng (Mặc định MySQL là 3306)
    ports:
      - "3306:3306"
      
    # Thiết lập Volume để lưu trữ dữ liệu bền vững
    volumes:
      # Lưu ý: Thư mục dữ liệu của MySQL là /var/lib/mysql
      - mysql_data:/var/lib/mysql
      
    # Khởi động lại container nếu có lỗi
    restart: always

# Định nghĩa Managed Volume
volumes:
  mysql_data: